<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionStringBooks" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\PS\Assignment1\Assignment1\DB\Books.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Assignment1.Properties.Settings.BooksConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\Books.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
</configuration>